body {
    margin: 0;
    background-color: #ffffff;
    font-family: serif;
}
header {
    background-color:#EA3B59;
    text-align: right;
    padding: 20px;
}
header a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
    font-size: 24px;
}
.titolo {
  padding: 60px 80px 30px;
}

.titolo h1 {
  font-size: 48px;
  margin: 0;
}
img {
  display: block;
  margin: 0 auto;
  max-width: calc(100% - 8px);
}
main {
    padding: 60px 80px;
}
.contenuto {
  display: flex;
  gap: 10px;
}
.testo {
  width: 80%;
  font-size: 20px;
  line-height: 1.6;
}
.immagini {
  width: 60%;
}
.immagini img {
  width: 100%;
  margin-bottom: 20px;
}
.testo {
    margin-bottom: 200px;
}
.spazio{
    margin-bottom: 30px;
}
.scritta-finale {
  margin-top: 150px;    
  margin-bottom: 80px;    
  text-align: center;     
}

.scritta-finale h1 {
  color:#EA3B59;
  font-size: 48px;
}
.immagini img {
  width: 100%;
}
@media (max-width: 768px) {
  .contenuto {
    flex-direction: column;
  }

  .testo,
  .immagini {
    width: 100%;
  }
}
.footer {
  background-color: #e93b5a;
  height: 40vh;
  position: relative;
}
.share {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 1.2rem;
}
.share img {
  width: 35px;
}